/* NOTE: Next.js の場合、/public/aaa ではなく、/aaa から path を指定する */

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/static/fonts/roboto-v29-latin-regular.woff2') format('woff2');
  font-display: swap;
}

/* noto-sans-jp-regular - latin_japanese */
@font-face {
  font-family: 'Noto Sans JP';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('/static/fonts/noto-sans-jp-v36-latin_japanese-regular.woff2')
      format('woff2');
  font-display: swap;
}

/* Theme */
:root {
  /* color */
  --background-color-code-inline: #e8e8e8;
  --background-color-default: #fff;
  --border-color-default: #333;
  --shadow-color-default: #ddd;
  --text-color-default: #333;
  --text-color-link: #d33;
  --text-color-attention: #d33;
  --text-color-error: #d33;

  /* FIXME: Size を Theme にしたい */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-code-inline: #444;
    --background-color-default: #222;
    --border-color-default: #444;
    --shadow-color-default: #000;
    --text-color-default: #bbb;
    --text-color-link: #a55;
    --text-color-attention: #a55;
    --text-color-error: #a55;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

menu,
ol,
ul {
  list-style: none;
}

body {
  font-family: 'Roboto', 'Noto Sans JP', sans-serif;
  line-height: 1;
  color: var(--text-color-default);
  background: var(--background-color-default);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  line-height: 1.5;
}

li {
  line-height: 1.5;
}

dt,
dd {
  line-height: 1.5;
}

th,
td {
  line-height: 1.5;
}

img {
  vertical-align: middle;
}

button {
  vertical-align: middle;
}

textarea {
  vertical-align: middle;
}

input {
  vertical-align: middle;
}

a {
  color: var(--text-color-link);
}
